@model IEnumerable<gestionmateriales.Models.GestionMateriales.ItemOT>
@{
    ViewBag.Title = "Selección de Materiales";
}

<br />
    <br />
    <div class="container-fluid">
        <h2>Selección de Materiales</h2>
        <h6>Orden de Trabajo: <strong>Número:</strong> @ViewData["numero"] - <strong>Nombre:</strong> @ViewData["nombre"]</h6>
    </div>
    <br />
    <div class="col-md-2">
        <a id="btn_generarordentrabajo" class="btn btn-outline-primary btn-block" href="~/ShopCartMaterial/Generar" role="button" data-toggle="tooltip" data-placement="right" title="Genera orden de trabajo de aplicación"> Generar Orden de Trabajo</a>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_materiales" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Material
                        </th>
                        <th>
                            Stock Actual
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.material.codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.material.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.material.stockActual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.material.estado)
                            </td>
                            <td>
                                <div class="col-md-1">
                                    <input id="itemCantidad-@item.material.idMaterial" type="number" min="0" max="@item.material.stockActual" value="@item.cantidad" onclick="updateCant(this)" onkeyup="updateCant(this)"  />
                                    <script type="text/javascript">
                                        function updateCant(control) {
                                            var baseURL = window.location.protocol + "//" + window.location.host + "/"
                                            var str = control.id.split('-');
                                            var strhref = baseURL + "/ShopCartMaterial/AddToCart?idOt=" + @ViewData["idOt"] + "&idMaterial=" + str[1] + "&itemCantidad=" + control.value;
                                            $('#itemLink-' + str[1]).attr("href", strhref);
                                            console.log(strhref);
                                            console.log($('#itemCantidad-2').val());
                                        }
                                    </script>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Extra-small button group">
                                    <a id="itemLink-@item.material.idMaterial" href="/ShopCartMaterial/AddToCart?idOt=@ViewData["idOt"]&idMaterial=@item.material.idMaterial&itemCantidad=@item.cantidad">Agregar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                $('#tabla_materiales').DataTable({
                    "language": {
                        "decimal": "",
                        "emptyTable": "No hay información disponible para mostrar",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        "infoEmpty": "No hay materiales para mostrar",
                        "infoFiltered": "(filtrados de _MAX_ personas totales)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Ver _MENU_ materiales por página",
                        "loadingRecords": "Cargando...",
                        "processing": "En proceso...",
                        "search": "Buscar",
                        "zeroRecords": "No hay materiales que coincidan con el filtro",
                        "paginate": {
                            "first": "Primera",
                            "last": "Última",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });
                $('#btn_generarordentrabajo').tooltip();

                //update que modifica el href del link "agregar"
                @*function updateCant(control) {
                    var str = control.id.split('-');
                    var strhref = "/ShopCartMaterial/AddToCart?idOt=" + @ViewData["idOt"] + "&idMaterial=" + str[1] + "&itemCantidad=" + control.value;
                    $('#itemLink-' + str[1]).attr("href", strhref);
                }*@
            </script>
        </div>
    </div>
</div>
