@model IEnumerable<gestionmateriales.Models.GestionMateriales.Material>
    @{
        ViewBag.Title = "Material";
    }

    <div id="page-wrapper">
        <br />
        <div class="row">
            <div class="container">
                <h2>Buscar Material</h2>
            </div>
        </div>
        <hr />
        <div class=" row">

            @using (Html.BeginForm("Buscar", "Material", FormMethod.Get))
            {
                <div class="col-xs-offset-6 col-md-3">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Buscar...", maxlength = 45 })
                </div>
                <button class="btn btn-default" type="submit">Buscar</button>
            }

        </div>

        <br>
        <div class="row">
            <div class="col-xs-offset-2 col-md-8">
                <table class="table table-bordered table-striped table-hover text-center table-condensed">
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            @Html.ActionLink("Nombre", "Buscar", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            Unidad
                        </th>
                        <th>
                            Stock Actual
                        </th>
                        <th>
                            Stock Mínimo
                        </th>
                        <th>
                            Editar
                        </th>
                        <th>
                            Borrar
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Unidad.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockActual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockMinimo)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.idMaterial })
                            </td>
                            <td>
                                @Html.ActionLink("Borrar", "Borrar", new { id = item.idMaterial })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
