@model IEnumerable<gestionmateriales.Models.OficinaTecnica.Documentos.OrdenTrabajoAplicacion>
@{
    ViewBag.Title = "Historial";
}
<div class="container-fluid">
    <h1 class="display-4">Materiales</h1>
    <p>Historial de ordenes de trabajo vinculadas al material o herramienta</p>
    <hr />
    <p>Código: <strong>@ViewData["codigo"]</strong> - Nombre: <strong>@ViewData["nombre"]</strong></p>

    <div class="card">
        <div class="card-body">
            <table id="tabla_historial" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Número
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Turno
                        </th>
                        <th>
                            Orden de Trabajo
                        </th>
                        <th>
                            Responsable
                        </th>
                        <th>
                            Jefe de Sección
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.numero)
                            </td>
                            <td>
                                @item.fecha.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.turno.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.responsable.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.jefeSeccion.nombre)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tabla_historial').DataTable({
        "language": {
            "decimal": "",
            "emptyTable": "No hay información disponible para mostrar",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "infoEmpty": "No hay materiales para mostrar",
            "infoFiltered": "(filtrados de _MAX_ personas totales)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "_MENU_",
            "loadingRecords": "Cargando...",
            "processing": "En proceso...",
            "search": "Buscar",
            "zeroRecords": "No hay materiales que coincidan con el filtro",
            "paginate": {
                "first": "Primera",
                "last": "Última",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    });
</script>

