@model gestionmateriales.Models.OficinaTecnica.Documentos.OrdenCompra

<input type="hidden" id="IdOC" value="@Model.IdOrdenCompra" />
<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h1>Orden de Compra</h1>
            </div>
            <div class="offset-2 col-2">
                <button class="btn btn-outline-secondary btn-block" onclick="window.history.back();"><i class="far fa-arrow-alt-to-left"></i> Volver</button>
            </div>
        </div>
        <div class="row">
            <div class="offset-10 col-2">
                <button class="btn btn-outline-primary btn-block" onclick="descargarOrdenCompra();"><i class="far fa-download"></i> Descargar</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card shadow">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <p>Número: <strong>@Model.numeroInterno</strong></p>
                </div>
                <div class="col-6">
                    <p>Número Factura: <strong>@Model.numeroFactura</strong></p>
                </div>
            </div>
        </li>
        @*<li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <b>Asociación Cooperadora María L. Prat de Louit</b>
                    </div>
                    <div class="col-3">
                        <b>CUIT: 30-68246181-7</b>
                    </div>
                    <div class="col-3">
                        <b>Factura tipo B o C</b>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <b>Av. Del Libertador 238 CABA Tel. 4328-4433/9421</b>
                    </div>
                    <div class="col-3">
                        <b>IVA EXENTO</b>
                    </div>
                </div>
            </li>*@
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <p>Proveedor: <strong>@Model.proveedor.nombre</strong></p>
                </div>
                <div class="col-6">
                    <p>Telefono: <strong>@Model.proveedor.telefono</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Contacto: <strong>@Model.proveedor.nombreContacto</strong></p>
                </div>
                <div class="col-6">
                    <p>Dirección: <strong>@Model.proveedor.direccion</strong></p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            @*<div class="card-title"><strong>Materiales</strong></div>*@
            <table id="grdItemsOC" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Destino</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
            </table>
        <li class="list-group-item">
            <div class="row">
                <div class="offset-10 col-2">
                    Total: <strong>$ @Model.total</strong>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-9">
                    <p>Responsable: <strong>@Model.responsable.nombre</strong></p>
                </div>
                <div class="col-3">
                    <p>Recursos Asignados: <strong>$ @Model.total</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <p>Fecha: <strong>@Model.fecha.ToShortDateString()</strong></p>
                </div>
                <div class="col-3">
                    <p>Cheque: <strong>@Model.chequeNro</strong></p>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    var numeroInterno = @Html.Raw(Json.Encode(Model.numeroInterno));
    var numeroFactura = @Html.Raw(Json.Encode(Model.numeroFactura));
    var proveedorNombre = @Html.Raw(Json.Encode(Model.proveedor.nombre));
    var proveedorTelefono = @Html.Raw(Json.Encode(Model.proveedor.telefono));
    var proveedorContacto = @Html.Raw(Json.Encode(Model.proveedor.nombreContacto));
    var proveedorDireccion = @Html.Raw(Json.Encode(Model.proveedor.direccion));
    var total = @Html.Raw(Json.Encode(Model.total));
    var responsable = @Html.Raw(Json.Encode(Model.responsable.nombre));
    var fecha = @Html.Raw(Json.Encode(Model.fecha));
    var cheque = @Html.Raw(Json.Encode(Model.chequeNro));
</script>

<script type="text/javascript" src="~/Scripts/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/OrdenCompra/Detalle.js"></script>

