<div class="card shadow">
    <div class=" card-body"> 
<div class="row">
    <div class="col-4">
        <h1>Orden de Compra</h1>
    </div>
    <div class="offset-5 col-3">
        <a id="btn_generarOrdenCompra" class="btn btn-outline-primary btn-block btn-sm" href="~/OrdenCompra"><i class="far fa-check"></i> Generar Orden de Compra</a>
    </div>
</div>
        </div>
    </div>
<br />
<input type="hidden" id="IdOc" value="@ViewData["idOc"]" />
<div class="card shadow">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-3">
                    <p>Proveedor: <strong>@ViewData["proveedor"]</strong></p>
                </div>
                <div class="offset-3 col-3">
                    <p>Número Interno: <strong>@ViewData["numeroInterno"]</strong></p>
                </div>
                <div class="col-3">
                    <p>Número Factura: <strong>@ViewData["numeroFactura"]</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Responsable: <strong>@ViewData["responsable"]</strong></p>
                </div>
                <div class="offset-3 col-3">
                    <p>Fecha: <strong>@ViewData["fecha"]</strong></p>
                </div>
                <div class="col-3">
                    <p>Cheque: <strong>@ViewData["cheque"]</strong></p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card-title"><strong>Materiales</strong></div>
            <table id="grdMateriales" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Código</th>
                        <th>Material</th>
                        <th>Destino</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>SubTotal</th>
                        <th>Op</th>
                    </tr>
                </thead>
            </table>
        </li>
        <li class="list-group-item">
            Total: <strong>$ <span id="totalOC"></span></strong>
        </li>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/OrdenCompra/Materiales.js"></script>
