@model IEnumerable<gestionmateriales.Models.GestionMateriales.Proveedor>
@{
    ViewBag.Title = "Proveedor";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Proveedor</h2>
        </div>
    </div>
    <hr />
    <div class=" row">

        @using (Html.BeginForm("Buscar", "Proveedor", FormMethod.Get))
        {
            <div class="input-group col-md-offset-8 col-md-4">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Ingrese nombre..", maxlength = 45 })

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Buscar</button>
                </span>
            </div>
        }

    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>
                        @Html.ActionLink("Nombre", "Buscar", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Razon Social
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-pencil" aria-hidden=true></span>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.razonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horario)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.idProveedor })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
