@model gestionmateriales.Models.OficinaTecnica.GestionMateriales.Proveedor
<h1>Proveedores</h1>
<p>Edita información de proveedor existente en el sistema</p>

<div class="card">
    <div class="card-body">
        @using (@Html.BeginForm("Editar", "Proveedor", new { id = Model.idProveedor }, FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "control-label" })
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", autofocus = "true", title = "Solo se admiten letras y números.", pattern = "^[0-9A-Za-zñÑáéíóúÁÉÍÓÚ ]+$", autocomplete = "off" } })
                </div>
                <div class="form row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.cuit, "CUIT", new { @class = "control-label" })
                        @Html.EditorFor(model => model.cuit, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", title = "Solo se admiten guiones y numeros.", pattern = "^[0-9]{2}[-][0-9]{8}[-][0-9]$", autocomplete = "off" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.razonSocial, "Razón Social", new { @class = "control-label" })
                        @Html.EditorFor(model => model.razonSocial, new { htmlAttributes = new { @class = "form-control", maxlength = 15, required = "true", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$", autocomplete = "off" } })
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.telefono, "Teléfono", new { @class = "control-label" })
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", maxlength = 20, required = "true", title = "Solo se admiten números.", pattern = "^[0-9]+$", autocomplete = "off" } })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.email, "Correo Electrónico", new { @class = "control-label" })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", maxlength = 50, required = "true", type = "email", autocomplete = "off" } })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.direccion, "Dirección", new { @class = "control-label" })
                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", maxlength = 100, required = "true", autocomplete = "off" } })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.zona, "Zona", new { @class = "control-label" })
                        @Html.EditorFor(model => model.zona, new { htmlAttributes = new { @class = "form-control", maxlength = 30, required = "true", autocomplete = "off" } })
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.horario, "Horario Atención", new { @class = "control-label" })
                        @Html.EditorFor(model => model.horario, new { htmlAttributes = new { @class = "form-control", maxlength = 20, required = "false", autocomplete = "off" } })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.nombreContacto, "Contacto", new { @class = "control-label" })
                        @Html.EditorFor(model => model.nombreContacto, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "false", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$", autocomplete = "off" } })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-2">
                        <input type="reset" class="btn btn-default btn-block" value="Restaurar" data-toggle="tooltip" data-placement="right" title="Restaura los valores antes de los cambios" />
                    </div>
                    <div class="offset-6 col-md-2">
                        <input type="submit" class="btn btn-primary btn-block" value="Aceptar" data-toggle="tooltip" data-placement="right" title="Confirma la operación" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-default btn-block" onclick="location.href = '/Proveedor'" value="Volver" data-toggle="tooltip" data-placement="right" title="Regresa a la pantalla anterior" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (ViewBag.Result == 0)
{
    <script type="text/javascript">
        ShowNotificationSuccess('Proveedor');
    </script>
}
@if (ViewBag.Result == 1)
{
    <script type="text/javascript">
        ShowNotificationDanger('Proveedor', 'El CUIT ya existe, verifique el valor');
    </script>
}

