@model gestionmateriales.Models.GestionMateriales.OrdenTrabajo
@{
    ViewBag.Title = "Orden de Trabajo";
}

<div id="page-wrapper">
    <br />
    <div class="container">
        <h2>Agregar Orden de Trabajo</h2>
        <hr />
        <div class="col-sm-offset-2 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Orden de Trabajo</h3>
                </div>
                <div class="panel-body">
                    @using (@Html.BeginForm("Alta", "OrdenTrabajo", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.nroOrdenTrabajo, "Numero", new { @class = "control-label" })
                            @Html.EditorFor(model => model.nroOrdenTrabajo, new { htmlAttributes = new { @class = "form-control", min = 1, required = "true" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombreTrabajo, "Nombre", new { @class = "control-label" })
                            @Html.EditorFor(model => model.nombreTrabajo, new { htmlAttributes = new { @class = "form-control", maxlength = 70, required = "true" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "control-label" })
                            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Turno, "Turno", new { @class = "control-label" })
                            @Html.DropDownList("Turno_Id", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Responsable, "Responsable", new { @class = "control-label" })
                            @Html.DropDownList("Responsable_Id", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JefeSeccion, "Jefe de Sección", new { @class = "control-label" })
                            @Html.DropDownList("JefeSeccion_Id", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Agregar material</button>
                        </div>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Agregar Material</h4>
                                    </div>
                                    <div class="modal-body">
                                      
                                 </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Aceptar" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-xs-6 col-md-8">
                                <input type="reset" class="btn btn-default" value="Limpiar" />
                             </div>
                             <div class="col-xs-1 col-md-2">
                                <input type="submit" class="btn btn-primary" value="Aceptar" />
                             </div>
                             <div class="col-xs-1 col-md-1">
                                <input type="button" class="btn btn-default" onclick="location.href='Index'" value="Cancelar" />
                             </div>
                        </div>
                  }
                </div>
            </div>
        </div>
    </div>
</div>

