@model gestionmateriales.Models.GestionMateriales.OrdenTrabajo
@{
    ViewBag.Title = "OrdenTrabajo";
}
<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Editar Orden de Trabajo de Aplicación</h2>
        </div>
    </div>
    <h5>Modifica los campos de una orden trabajo de aplicación existente.</h5>
    <hr />
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orden de Trabajo de Aplicación</h3>
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("Editar", "OrdenTrabajo", new { id = Model.idOrdenTrabajo }, FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.numero, "Número", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", min = 1, required = "true" } })
                            </div>
                            @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 70, required = "true" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Turno, "Turno", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.DropDownList("idTurno", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date", @Value = Model.fecha.ToString("yyyy-MM-dd") } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.responsable, "Responsable", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownList("idResponsable", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.jefeSeccion, "Jefe de Sección", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownList("idJefeSeccion", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="reset" class="btn btn-default" value="Restaurar" data-toggle="tooltip" data-placement="right" title="Restaura los valores antes de los cambios" />
                            </div>
                            <div class="col-md-offset-3 col-md-3">
                                <input type="submit" class="btn btn-primary btn-block" value="Editar Materiales" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-default btn-block" onclick="location.href='../Index'" value="Cancelar" data-toggle="tooltip" data-placement="right" title="Regresa a la pantalla anterior" />
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
