@model gestionmateriales.Models.OficinaTecnica.Documentos.OrdenTrabajoAplicacion
@{
    ViewBag.Title = "Orden de Trabajo";
}
<div class="container-fluid">
    <h1 class="display-4">Orden de Trabajo de Aplicación</h1>
    <p>Genera una nueva orden de trabajo de aplicación</p>
</div>
<hr />
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Orden de Trabajo de Aplicación
        </div>
        <div class="card-body">
            @using (@Html.BeginForm("Agregar", "OrdenTrabajoAplicacion", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <div class="form row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.numero, "Número", new { @class = "control-label" })
                            @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", min = 1, autofocus = "true", required = "true", autocomplete = "off" } })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "control-label" })
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 70, required = "true", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.turno, "Turno", new { @class = "control-label" })
                            @Html.DropDownList("idTurno", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "control-label" })
                            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.responsable, "Responsable", new { @class = "control-label" })
                            @Html.DropDownList("idResponsable", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.jefeSeccion, "Jefe de Sección", new { @class = "control-label" })
                            @Html.DropDownList("idJefeSeccion", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <input type="reset" class="btn btn-default btn-block" value="Limpiar" />
                        </div>
                        <div class="offset-6 col-md-2">
                            <input type="submit" class="btn btn-primary btn-block" value="Agregar Materiales" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-default btn-block" onclick="location.href='Index'" value="Volver" />
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (ViewBag.Result == 1)
        {
            <script type="text/javascript">
                $.notify.defaults({ globalPosition: 'bottom rigth' });
                $.notify(
                    "El número de orden de trabajo ya existe, verifique el valor",
                    "error",
                    {
                        position: "right bottom",
                        globalPosition: "right bottom"
                    }
                );
            </script>
        }
    </div>
</div>

