@model IEnumerable<gestionmateriales.Models.GestionMateriales.OrdenPedido>
@{
    ViewBag.Title = "Orden de Pedido";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Buscar Pedido</h2>
        </div>
    </div>
    <hr />
    <div class=" row">

        @using (Html.BeginForm("Buscar", "Pedidos", FormMethod.Get))
        {
            <div class="col-xs-offset-6 col-md-3">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Ingrese nro. pedido, orden de trabajo..", maxlength = 45 })
            </div>
            <button class="btn btn-default" type="submit">Buscar</button>
        }

    </div>

    <br>
    <div class="row">
        <div class="col-xs-offset-2 col-md-8">
            <table class="table table-bordered table-striped table-hover text-center table-condensed">
                <tr>
                    <th>
                        @Html.ActionLink("Nro. Orden de Pedido", "Buscar", new { sortOrder = ViewBag.NroOrdenPedidoSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Nro. Orden De Trabajo", "Buscar", new { sortOrder = ViewBag.nroOrdenTrabajoSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Destino
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Borrar
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nroOrdenPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nroOrdenTrabajo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.destino)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.idOrdenPedido })
                        </td>
                        <td>
                            @Html.ActionLink("Borrar", "Borrar", new { id = item.idOrdenPedido })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
