@model gestionmateriales.Models.GestionMateriales.OrdenPedido
@{
    ViewBag.Title = "Orden de Pedido";
}

<div id="page-wrapper">
    <br />
         <div class="row">
            <div class="container">
                <h2>Gestion de Ordenes de Pedido</h2>
            </div>
        </div>
        <h5>Edita iformacion de las ordenes de pedido existentes.</h5>
        <hr />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Orden de Pedido</h3>
                </div>
                <div class="panel-body">
                    @using (@Html.BeginForm("Editar", "OrdenPedido", new { id = Model.idOrdenPedido }, FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.numOp, "Nro Orden de Pedido", new { @class = "col-md-2 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.numOp, new { htmlAttributes = new { @class = "form-control", min = 1, required = "true" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.numOt, "Nro Orden de Trabajo", new { @class = "col-md-2 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.numOt, new { htmlAttributes = new { @class = "form-control", min = 1, required = "true" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.destino, "Destino", new { @class = "col-md-2 control-label" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.destino, new { @class = "form-control", @cols = 80, @rows = 3, maxlength = 150, required = "true" })
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="reset" class="btn btn-default" value="Restaurar" data-toggle="tooltip" data-placement="right" title="Restaura los valores antes de los cambios" />
                            </div>
                            <div class="col-md-offset-3 col-md-3">
                                <input type="submit" class="btn btn-primary" value="Aceptar" data-toggle="tooltip" data-placement="right" title="Confirma la operación" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-default btn-block" onclick="location.href='../Index'" value="Cancelar" data-toggle="tooltip" data-placement="right" title="Regresa a la pantalla anterior" />
                            </div>
                        </div>

                      </div>
                    }
                </div>
            </div>
        </div>
</div>

