@model IEnumerable<gestionmateriales.Models.GestionMateriales.OrdenPedido>
@{
    ViewBag.Title = "Orden de Pedido";
}

<div id="page-wrapper">
    <br/>
    <div class="row">
        <div class="container">
            <h2>Gestión de Pedidos</h2>
        </div>
        </div>
        <h5>Ordenes de pedido ingresadas</h5>
    <hr />
    <div class="col-md-3">
        <a id="btn_CrearOrdenPedido" class="btn btn-primary btn-block" href="~/OrdenPedido/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agregar nueva orden de pedido"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nueva Orden de Pedido</a>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_ordenPedido" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Numero Orden de Pedido
                        </th>
                        <th>
                            Numero Orden de Trabajo
                        </th>
                        <th>
                            Destino
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-pencil" aria-hidden=true></span>
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-trash" aria-hidden=true></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nroOrdenPedido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nroOrdenTrabajo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.destino)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.idOrdenPedido})
                            </td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#myModal-@item.idOrdenPedido">Borrar</a>

                                <div class="modal fade" id="myModal-@item.idOrdenPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">    
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Borrar Personal</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Desea borrar la siguiente orden de pedido del sistema?</p>
                                                <p><strong>Orden de Pedido Numero: </strong>@item.nroOrdenPedido</p>
                                                <p><strong>Orden de Trabajo Numero: </strong>@item.nroOrdenTrabajo</p>
                                                <p><strong>Destino: </strong>@item.destino</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="~/OrdenPedido/Borrar/@item.idOrdenPedido" type="button" class="btn btn-primary">Aceptar</a>
                                                <button type="button" class="btn btn-default" data-dissmiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
    <script type="text/javascript">
        $('#tabla_ordenPedido').DataTable();
        $('#btn_CrearOrdenPedido').tooltip();
    </script>
            </div>
    </div>
</div>