@model gestionmateriales.Models.OficinaTecnica.GestionMateriales.SalidaMaterial
<div class="card shadow">
    <div class="card-body">
<h1>Salida</h1>
<p>Engreso de material o herramientas del depósito</p>
</div>
    </div>
<br />
<div class="card shadow">
    <div class="card-body">
        @using (@Html.BeginForm("Restar", "Stock", FormMethod.Post))
        {
            <div class="form row">
                <div class="form-group col-5">
                    <label for="companyValue">Código: </label>  <strong><span class="output" id="codigoMaterial"></span></strong>
                    <br />
                    <br />
                    <label for="materialPicker">Buscar Material o Herramienta </label><input type="text" id="materialPicker" name="material" class="form-control" autocomplete="off">
                    @* Aqui se guarda el codigo del material que se enviara en el formulario *@
                    @Html.EditorFor(model => model.codigoMaterial, new { htmlAttributes = new { @class = "form-control", id = "codMaterial", type = "hidden" } })
                </div>
                <div class="form-group offset-1 col-4">
                    @Html.LabelFor(model => model.cantidad, "Cantidad a Egresar", new { @class = "control-label" })
                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", min = 0, required = "true", id = "cantidadMaterial", autocomplete = "off" } })
                    <br />
                    @Html.LabelFor(model => model.tipoSalidaMaterial, "Tipo de Engreso", new { @class = "control-label" })
                    @Html.DropDownList("IdTipoSalidaMaterial", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form row">
                <div class="form-group offset-6 col-4">
                    @Html.LabelFor(model => model.codigoDocumento, "Número Documento", new { @class = "control-label" })
                    @Html.EditorFor(model => model.codigoDocumento, new { htmlAttributes = new { @class = "form-control", maxlength = 15, id = "codigoDocumento", required = "true", autocomplete = "off" } })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="offset-8 col-md-2">
                    <input id="btn_aceptar" type="submit" class="btn btn-primary btn-block" value="Aceptar" title="Confirma la operación" />
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-secondary btn-block" role="button" href="~/Home" title="Regresa a pantalla anterior">Volver</a>
                </div>
            </div>
        }

        @if (ViewBag.Result == 0)
        {
            <script type="text/javascript">
                $('#cantidadMaterial').val('');
                $('#codigoMaterial').text('');
                $('#codigoDocumento').val('');
                ShowNotificationSuccess('Stock');
            </script>
        }
        @if (ViewBag.Result == 1)
        {
            <script type="text/javascript">
                ShowNotificationDanger('Stock', 'No hay suficiente stock del material o la cantidad a retirar excede el limite establecido');
            </script>
        }

        <link rel="stylesheet" href="~/Scripts/Fuse/css/fuzzycomplete.min.css">
        <script type="text/javascript" src="~/Scripts/Fuse/fuse.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Fuse/js/fuzzycomplete.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Views/Stock/Stock.js"></script>
    </div>
</div>
