@model gestionmateriales.Models.GestionMateriales.Personal
@{
    ViewBag.Title = "Personal";
}

<div id="page-wrapper">
    <div class="container">
        <br />
        <h1>Personal</h1>
        <hr />
        <div class="col-sm-offset-2 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Editar Datos del Personal</h3>
                </div>
                <div class="panel-body">
                    @using (@Html.BeginForm("Editar", "Personal", new { id = Model.idPersonal }, FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, "Nombre y Apellido", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fichaCensal, "Ficha Censal", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.fichaCensal, new { htmlAttributes = new { @class = "form-control", min = 1, max = 999999, maxlength = 6, required = "true" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dni, "DNI", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", min = 1, max = 99999999, maxlength = 8, required = "true" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="reset" class="btn btn-default btn-block" value="Restaurar" />
                                </div>

                                <div class="col-md-offset-3 col-md-3">
                                    <input type="submit" class="btn btn-primary btn-block" value="Aceptar" />
                                </div>

                                <div class="col-md-3">
                                    <input type="button" class="btn btn-default btn-block" onclick="location.href='../Buscar'" value="Cancelar" />
                                </div>
                            </div>
                           
                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.Result == true)
            {
                <div id="alert_message" class="alert alert-success">
                    Los datos se guardaron con éxito.
                </div>
            }
        </div>
    </div>
</div>

